* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f8f8f8;
  padding: 20px;
  padding-top: 0px;
}

/* Navbar */
.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position:sticky ;
  top: 0;
  background-color: #f8f8f8;
}

.navbar h2 {
  color: #fc8019;
}

.logout {
  text-decoration: none;
  background: #fc8019;
  color: white;
  padding: 8px 15px;
  border-radius: 6px;
}

/* Stats */
.stats {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.stat-card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  text-align: center;
}

.stat-card h3 {
  font-size: 16px;
  color: #555;
}

.stat-card p {
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
  color: #fc8019;
}

/* Add Task */
.add-task {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.add-task form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.add-task input,
.add-task select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.add-task button {
  background: #fc8019;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

/* Task Grid */
.task-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* Task Card */
.task-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.task-card:hover {
  transform: translateY(-5px);
}

.task-card h3 {
  margin-bottom: 10px;
}

.category {
  font-size: 13px;
  color: #888;
  margin-bottom: 8px;
}

.deadline {
  font-size: 14px;
  margin-bottom: 10px;
}

.priority {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
}

.priority.low {
  color: green;
}

.priority.medium {
  color: orange;
}

.priority.high {
  color: red;
}

.delete-btn {
  text-decoration: none;
  color: white;
  background: red;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
}
.complete-btn {
  display: inline-block;
  background: green;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  margin-right: 5px;
  text-decoration: none;
}

.completed-badge {
  display: inline-block;
  background: #28a745;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  margin-right: 5px;
}

.task-card.done {
  opacity: 0.7;
  background: #f0fdf4;
  border-left: 5px solid #28a745;
}
